gdh-login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;

  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  input.example-right-align {
    -moz-appearance: textfield;
  }

  .login-form {
    width: 70%;
    display: flex;
    flex-direction: column;

    .login-button {
      margin-top: 32px;
      align-self: flex-end;
    }
  }

  .register-section {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-weight: 500;
  }
}