gdh-statistics-widget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .widget-header {
    height: 20%;
    display: flex;
    flex-direction: column;

    .widget-tittle {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding-bottom: 36px;

      .dot {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: $secondary-pink-100;
      }

      span {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .chart {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      width: 100%;
      height: 60%;
    }

    .upper-chart {
      height: 40%;
      justify-content: space-between;
      padding-left: 3rem;
      position: relative;

      .circle-chart {
        padding-right: 1rem;
        position: absolute;
        height: 150px;
        right: 1px;
        top: -60px;
      }

      div {
        display: flex;
        flex-direction: column;
      }

      span {
        font-size: 10px;
        font-style: italic;
        font-weight: 600;
        line-height: normal;
      }

      .tittle-for-chart {
        padding-top: 3rem;
      }

      .points {
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}