<div class="widget-header">
    <div class="widget-tittle">
        <div class="dot"></div>
        <span>Statistics</span>
    </div>
</div>
<div class="chart">
    <div class="upper-chart">
        <div>
            <div>
                <span>Earned points</span>
                <span class="points">{{earnedPoints}}</span>
            </div>
            <div>
                <span class="tittle-for-chart">Chart for charity events</span>
            </div>
        </div>
        <img class="circle-chart" src="assets/circle-chart.svg" alt="circle chart">
    </div>
    <div>
        <img src="assets/chart.svg" alt="chart">
    </div>
</div>