<div class="left-section">
  <div class="image">
    <img src="../../assets/zdjęcia.png" alt="photos">
  </div>
</div>
<div class="right-section">
  <div class="logo">
    <img src="../../assets/logo.svg" alt="logo">
  </div>
  <span class="slogan">Make Impact, Be a Volunteer!</span>
  <div class="form-section">
    <form class="registration-form">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput
               required
               name="name"
               #nameModel = "ngModel"
               [(ngModel)]="userData.name">
        <mat-error *ngIf="nameModel.hasError('required')">
          Field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Surname</mat-label>
        <input matInput
               required
               name="surname"
               #surnameModel = "ngModel"
               [(ngModel)]="userData.surname">
        <mat-error *ngIf="surnameModel.hasError('required')">
          Field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput
               type="email"
               required
               name="email"
               #emailModel = "ngModel"
               [(ngModel)]="userData.email">
        <mat-error
                *ngIf="emailModel.hasError('email') && !emailModel.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailModel.hasError('required')">
          Field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
               required
               name="password"
               [(ngModel)]="userData.password"
               [type]="hidePassword ? 'password' : 'text'"
               (ngModelChange)="onChange($event, passwordModel)"
               #passwordModel = "ngModel"
               minlength="8"
               pattern="^(?=.*\d)(?=.*[A-Z]).{8,}$">
        <button mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordModel.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="passwordModel.hasError('pattern') && !passwordModel.hasError('required')">
          Password must be at least: 8 characters long, one digit, and one capital letter.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Repeat password</mat-label>
        <input matInput
               required
               type="password"
               name="repeatPassword"
               [pattern]="userData.password"
               [(ngModel)]="userData.repeatPassword"
               #passwordRepeatedModel = "ngModel">
        <mat-error *ngIf="passwordRepeatedModel.hasError('pattern')">
          Passwords do not match
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput
               required
               name="city"
               #cityModel = "ngModel"
               [(ngModel)]="userData.city">
        <mat-error *ngIf="cityModel.hasError('required')">
          Field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input matInput
               required
               name="cuntry"
               #countryModel = "ngModel"
               [(ngModel)]="userData.country">
        <mat-error *ngIf="countryModel.hasError('required')">
          Field is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button
              class="register-button"
              type="submit"
              color="primary">
        Create an account
      </button>
    </form>

    <div class="login-section">
      <span>Already have an account?</span>
      <button mat-button
              type="button"
              (click)="redirectToLogin()"
              color="accent">
        Log in
      </button>
    </div>
  </div>
</div>
